apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-blog-app
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-blog-app
  template:
    metadata:
      labels:
        app: django-blog-app
    spec:
      containers:
      - name: django-blog-app
        image: aderbart/django-blog-app:v17
        ports:
        - containerPort: 8000
        env:
        - name: DJANGO_SETTINGS_MODULE
          value: config.settings
        - name: PYTHONUNBUFFERED
          value: "1"
        - name: PYTHONDONTWRITEBYTECODE
          value: "1"
        - name: ALLOWED_HOSTS
          value: "*"
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 20
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
